
<div class=" content">
  <div class=" row">

      <div style="padding: 40px;" class=" card">
        <div class=" card-header"><h5 class=" title">Cadastro</h5></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Nome </label>
                  <input
                    class=" form-control"
                    [(ngModel)]="name"
                    placeholder="digite seu nome"
                    type="text"
                    name="name"
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Cpf </label>
                  <input
                    class=" form-control"
                    placeholder="digite seu cpf"
                    type="text"
                    [(ngModel)]="cpf"
                    mask="000.000.000-00"
                    name="cpf"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class=" form-control"
                    placeholder="mike@email.com"
                    type="email"
                    [(ngModel)]="email"
                    name="email"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Data de nascimento</label>
                  <input
                    class=" form-control"
                    placeholder="insira sua data de nascimento"
                    type="text"
                    mask=" 00/00/0000"
                    [(ngModel)]="birthdate"
                    name="birthdate"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Senha </label>
                  <input
                    class=" form-control"
                    placeholder="crie uma senha"
                    type="password"
                    [(ngModel)]="password"
                    name="password"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Endereço </label>
                  <input
                    class=" form-control"
                    placeholder="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                    type="text"
                    [(ngModel)]="address"
                    name="address"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button (click)="userInc()" class=" btn btn-fill btn-danger" type="submit">Cadastrar</button>
        </div>
      </div>


  </div>
</div>
