
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">

        <div class=" card-header">
          <span class=" title">Olá, {{name}}</span>
          <div class=" row">

            <div class=" col-sm-6 text-left">
              <h5 style="margin-top: 40px;"  class=" card-category">Saldo</h5>
              <h2 class=" card-title">
                {{amount.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL', minimumFractionDigits: 2})}}
              </h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >

              </div>
            </div>
          </div>
        </div>
        <!-- <div class=" card-body">
          <div class=" chart-area"></div>
        </div> -->
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div style="padding: 20px;" class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Saldo</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i>
            {{amount.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL', minimumFractionDigits: 2})}}
          </h3>
        </div>
        <button (click)="goDeposit()"  style="text-align: center;" class=" btn btn-fill btn-success" >Depositar</button>

      </div>
    </div>
    <div class=" col-lg-4">
      <div style="padding: 20px;"  class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Transferência</h5>
          <h3 class=" card-title">
            <img src="../../../assets/img/pix.png" style="height: 1.5rem;" alt=""> Pix
          </h3>
        </div>
        <button (click)="goTransference()" style="text-align: center;" class=" btn btn-fill btn-info" >Transferir</button>

      </div>
    </div>
    <div class=" col-lg-4">
      <div style="padding: 20px;"  class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Saldo guardado</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i>
            {{safeAmount.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL', minimumFractionDigits: 2})}}
          </h3>
        </div>
        <button (click)="goSafe()" style="text-align: center;" class=" btn btn-fill btn-warning" >Guardar / Retirar</button>

      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-12 col-md-12">
      <div class=" card card-tasks">
        <div class=" card-header">
          <h6 class=" title d-inline">Movimentação</h6>
          <!-- <p class=" card-category d-inline">today</p> -->

        </div>
        <div class=" card-body">
          <div class=" table-full-width table-responsive">
            <table class=" table">
              <tbody>
                <tr *ngFor="let data of datasets; index as i">
                  <td>
                    <p *ngIf="data._id.type === 'transfer-send'" class=" title">Transferência feita</p>
                    <p *ngIf="data._id.type === 'transfer-receive'" class=" title">Transferência recebida</p>
                    <p *ngIf="data._id.type === 'deposit'" class=" title">Depósito</p>
                    <p >
                      {{data._id.value.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL', minimumFractionDigits: 2})}}
                    </p>
                  </td>

                  <td>
                    <!-- <p class=" title">{{data._id.day}}/{{data._id.month}}/{{data._id.year}}</p> -->
                    <p class=" title">{{data._id.date}}</p>

                  </td>

                  <td *ngFor="let user of data.user">

                    <div style="display: flex;" *ngIf="data._id.type === 'transfer-send'">
                      <p style="margin-right: 15px;" >
                        para
                      </p>
                      <span style="color: aliceblue;" class="title">{{user.name}}</span>
                    </div>
                    <div style="display: flex;"  *ngIf="data._id.type === 'transfer-receive'">
                      <p style="margin-right: 15px;" >
                        de
                       </p>
                       <span style="color: aliceblue;" class="title">{{user.name}}</span>
                    </div>
                  </td>
                  <td>

                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
